# Directories #
build/
bin/
target/
libs/
tmp/
node_modules/

# OS Files #
.DS_Store

*.class

# Package Files #
*.jar
*.war
*.ear
*.db
rebel.xml

######################
# IDEA
######################
*.iml
*.ipr
*.iws
.idea/
atlassian-ide-plugin.xml

######################
# MAVEN
######################
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar